.detail-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px 0;
}

.product-img, .product-info{
    padding: 20px 25px;
}

.product-info{
    text-align: center;
    justify-content: center;
}

.detail-title, .detail-price{
    font-weight: normal;
}

.detail-price{
    margin: 40px 0 40px 0;
}

.detail-text, .detail-description{
    color: #767676;
    margin: 5px 0 10px 0;
}

.detail-description{
    color: #212121;
}

.detail-talles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.text-talle{
    margin: 0;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;

    &-selected{
        padding: 8px;
        border: 2px solid #212121;
        border-radius: 50%;
    }
}

.add-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0 0 0;
    
    &-btn{
        cursor: pointer;
        padding: 5px 10px;
        margin: 0 15px;
        border: none;
        background-color: #23232c;
        color: #f4f4f4;
        transition: all .5s;

        &:hover{
            background-color: #212121;
        }   
    }

    
    
}