.form-container{
    margin: 150px 0 80px;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    margin: 20px 0 0 0;
    max-width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #f1f2f4;
    outline: none;
    transition: all .3s;

    &:focus{
        border-bottom: 2px solid #212121;

    }
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.price-btn{
    font-weight: 500;
    font-size: 12px;
    padding: 15px 25px;
    height: 50px;
    color: #f4f4f4;
    background-color: #23232c;
    border: none;
    cursor: pointer;
    transition: all .3s;

    &:hover{
        background-color: #212121;
    }
}

.cancel-btn{
    cursor: pointer;
    width: 120px;
    font-size: 12px;
    margin: 20px 0 0 0;
    border: none;
    background: none;
    color: #212121;
}