.error-title{
    color: #212121;
    font-weight: 900;
    letter-spacing: .2em;
    font-size: 5.6rem;
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto;
}

.error-text, .error-button-text{
    color: #767676;
    line-height: 42px;
    font-size: 18px;
    padding: 0 60px;
    max-width: 920px;
    margin: auto;
}

.erro-link{
    display: flex;
    flex-direction: row;
    
}

.error-button{
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    margin: 40px 15px;
    border: none;
    background-color: #23232c;
    transition: all .5s;

    &-text{
        color: #f4f4f4;
    }

    &:hover{
        background-color: #212121;
    }   
}