.card{
    margin: 0 25px;
    padding: 10px;
    max-width: 18rem;
    border-radius: 5px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;

    &-body{
        text-align: left;
    }

    &-title{
        margin: 10px 0 5px 0;
    }

    &-text{
        font-size: 12px;
        margin: 0 0 30px 0;
    }
}

.btn-primary {
    padding:10px;
    border-radius: 7px;
    background: #3d9f54;
    border: none;
    color: #f4f4f4;
    font-size: 15px;

    &:hover{
        background: #276636;
    }
}