<<<<<<< HEAD
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 0 60px 0;
    height: 60px;
    background-color: #f4f4f4;
    color: #212121;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;

    &-title{
        font-weight: bold;
        color: #212121;
        text-decoration: none;
    }

    &-option, &-widget {
        color: #767676;
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        transition: all .5s;

        &:hover{
            color: #212121;
        } 
    }
}
=======
.navbar{
    display: flex;
    padding: 10px 15px;
    width: 100%;
    min-height: 30px;
    margin: 0 0 25px 0;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;

    &-title{
        padding: 10px;
        font-weight: bold; 
    }

    &-option{
        padding: 10px;
        margin: 0 15px;
    }

}

>>>>>>> 9b05f55 (desafio menu e-commerce)
