@import 'config';

@include responsive-phone{
    
    .card-img-top{
        margin: auto;
        width: 112px;
        height: 112px;
    }

    .itemContainer{
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
        column-gap: 5px;
        row-gap: 20px;
        .card{
            margin: 30px auto;
        }
    }

    .detail-card{
        flex-flow: column;
    }

    .detail-img{
        width: 300px;
        height: 300px;
    }

    .cart-item{
        flex-direction: column;
    }
}

@include responsive-tablet{

    .card-img-top{
        margin: auto;
        width: 140px;
        height: 140px;
    }

    .itemContainer{
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        padding: 50px;
    }

    .detail-img{
        width: 400px;
        height: 400px;
    }
}


@include responsive-laptop{
    .card-img-top{
        margin: auto;
        width: 224px;
        height: 224px;
    }

    .itemContainer{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1200px;
        padding: 120px 20px;
    }

    .detail-card{
        flex-flow: row !important;
    }

    .detail-img{
        width: 600px;
        height: 600px;
    }
}