@import 'config';

@include responsive-phone{
    
    .card-img-top{
        margin: auto;
        width: 112px;
        height: 112px;
    }

    .itemContainer{
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
        column-gap: 5px;
        row-gap: 20px;
        .card{
            margin: 30px auto;
        }
    }

    .detail-card{
        flex-flow: column;
    }

    .detail-img{
        width: 300px;
        height: 300px;
    }

    .items-container:first-child{
        margin: 50px 25px;
    }

    .cart-item{
        flex-direction: column;
        margin: 15px 25px;
    }

    .counter-container{
        margin-top: 10px;
    }
    
    .minus-product-button{
        position: absolute;
        bottom: 75%;
        left: 90%;
    }

    .form-container{
        padding: 0 10px;
    }

    .error-title{
        font-size: 2.6rem;
    }
}

@include responsive-tablet{

    .card-img-top{
        margin: auto;
        width: 140px;
        height: 140px;
    }

    .itemContainer{
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        padding: 50px;
    }

    .detail-img{
        width: 400px;
        height: 400px;
    }

    .form-container{
        padding: 0;
        padding: 0 50px;
    }

    .error-title{
        font-size: 4.6rem;
    }
}


@include responsive-laptop{
    .card-img-top{
        margin: auto;
        width: 224px;
        height: 224px;
    }

    .itemContainer{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1200px;
        padding: 120px 20px;
    }

    .detail-card{
        flex-flow: row !important;
    }

    .detail-img{
        width: 600px;
        height: 600px;
    }

    .form-container{
        padding: 0 100px;
    }

    .error-title{
        font-size: 5.6rem;
    }
}